/* ------------------------------ GLOBAL STYLING ------------------------------ */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    min-height: 100vh;
    /* width: 80vw; */
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------------------------------ HEADER ------------------------------ */
header  {
    margin: 5px auto;
}
/* ------------------------------ MAIN ------------------------------ */
a {
    text-decoration: none;
    color: blue;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

section {
    margin: 0 20px;
}
/* ------------------------------ .left > .me ------------------------------ */
#profile_picture {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.me > ul  {
    list-style-type: none;
}

.when {
    color: blue;
}
/* ------------------------------ all divs ------------------------------ */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 8px;
}
/* ------------------------------ .hard-skills ------------------------------ */
.hard-skills > ul {
    list-style-type: none;
}
.hard-skills > ul > li {
    display: flex;
    align-items: center;
}
/* ------------------------------ FOOTER ------------------------------ */
footer {
    margin: 5px auto;
}
